<%= turbo_frame_tag "recruitment_list" do %>
  <% if @recruitments.any? %>
    <div class="overflow-x-auto rounded-xl border border-slate-200 bg-white shadow-sm" data-recruitments--recruitments-target="table">
      <table class="w-full">
        <div class="px-6 py-4 border-b border-slate-200">
          <h2 class="text-lg font-semibold text-slate-900"><%= t('recruitments.index_recruitments_list.title') %></h2>
          <p class="text-sm text-slate-600 mt-1"><%= t('recruitments.index_recruitments_list.recruitments_count', recruitments: @recruitments.count, total: @recruitments.total_count) %></p>
        </div>
        <thead class="border-b border-slate-200">
          <tr>
            <th class="px-6 py-4 text-center text-sm font-semibold text-slate-900"><%= sortable "opening_date", t('recruitments.index_recruitments_list.opening_date'), params[:direction] %></th>
            <th class="px-6 py-4 text-center text-sm font-semibold text-slate-900"><%= sortable "finish_date", t('recruitments.index_recruitments_list.finish_date'), params[:direction] %></th>
            <th class="px-6 py-4 text-center text-sm font-semibold text-slate-900"><%= sortable "value", t('recruitments.index_recruitments_list.value'), params[:direction] %></th>
            <th class="px-6 py-4 text-center text-sm font-semibold text-slate-900"><%= t('recruitments.index_recruitments_list.status') %></th>
            <th class="px-6 py-4 text-center text-sm font-semibold text-slate-900"><%= t('recruitments.index_recruitments_list.actions') %></th>
          </tr>
        </thead>
        <tbody>
          <% @recruitments.each do |recruitment| %>
            <tr class="text-center border-b border-slate-200 hover:bg-slate-50 transition-colors" data-recruitments--recruitments-target="recruitmentRow">
              <td class="px-6 py-4 text-center">
                <p class="text-center text-sm text-slate-600"><%= recruitment.opening_date.strftime("%d/%m/%Y") %></p>
              </td>
              <td class="px-6 py-4 text-center">
                <p class="text-center text-sm text-slate-600"><%= recruitment.finish_date.strftime("%d/%m/%Y") %></p>
              </td>
              <td class="px-6 py-4 text-center">
                <p class="text-center text-sm text-slate-600"><%= "R$ #{number_with_precision(recruitment.value.round(2), precision: 2)}" %></p>
              </td>
              <td class="px-6 py-4 text-center">
                <span class="inline-flex w-[70px] items-center justify-center rounded-lg px-3 py-0.5 text-xs <%= status_colors[recruitment.status] %>">
                  <%= recruitment.status_humanize %>
                </span>
              </td>
              <td class="px-6 py-4 text-right">
                <div class="flex gap-2 justify-center">
                  <%= link_to inline_svg_tag('icons/archive.svg', class: "lucide lucide-file-text h-4 w-4 text-blue-600"),
                        recruitment_path(recruitment),
                        class: "text-sm font-medium text-blue-600 hover:text-blue-700",
                        data: { turbo_frame: "_top" } %>

                  <%= link_to inline_svg_tag('icons/pencil.svg', class: "lucide lucide-pen h-4 w-4 text-blue-600"),
                        edit_recruitment_path(recruitment),
                        class: "text-sm font-medium text-blue-600 hover:text-blue-700",
                        data: { turbo_frame: "recruitment_management", action: "click->recruitments--recruitments-form#forceOpen" },
                        id: "edit-recruitment-button"  %>

                  <%= link_to inline_svg_tag('icons/trash_can.svg', class: "lucide lucide-trash2 h-4 w-4 text-red-600"),
                      recruitment_path(id: recruitment.id),
                      data: { turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir?", turbo_frame: '_top' },
                      class: "text-sm font-medium text-red-600 hover:text-red-700",
                      id: 'delete-recruitment-button' %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @recruitments, window: 1, outer_window: 1 %>
    </div>
  <% else %>
    <div class="rounded-xl border border-slate-200 bg-white px-6 py-4 shadow-sm">
      <h2 class="text-lg font-semibold text-slate-900"><%= t('recruitments.index_recruitments_list.title') %></h2>

      <div class="p-12 text-center">
        <p class="text-slate-600"><%= t('recruitments.index_recruitments_list.none_recruitment') %></p>
      </div>
    </div>
  <% end %>
<% end %>
