<button type="button"
  class="ms-auto -mx-1.5 -my-1.5 bg-<%= bg_color %> text-<%= text_color %> rounded-lg focus:ring-2 focus:ring-<%= ring_color %> p-1.5 hover:bg-<%= hover_color %> inline-flex items-center justify-center h-8 w-8"
  data-action="click->flash#dismiss" aria-label="Fechar">
  <span class="sr-only">Fechar</span>
  <%= inline_svg_tag 'icons/x.svg'%>
</button>
