<%= form_with url: applications_path do |form| %>
  <%= form.hidden_field :token, value: @recruitment_role.token %>

  <h2 class="text-xl font-bold text-slate-900 mb-6"><%= t('applications.form.insert_data') %></h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="col-span-1">
      <%= form.label :name, t('applications.form.name'), class: "block text-sm text-slate-900 mb-2" %>
      <%= form.text_field :name, class: "w-full py-2.5 pl-4 text-sm rounded-lg border border-slate-300 px-4 py-2 text-slate-900 placeholder-slate-500 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500", placeholder: t('applications.form.placeholder.name') %>
    </div>

    <div class="col-span-1">
      <%= form.label :email, t('applications.form.email'), class: "block text-sm text-slate-900 mb-2" %>
      <%= form.email_field :email, class: "w-full py-2.5 pl-4 text-sm rounded-lg border border-slate-300 px-4 py-2 text-slate-900 placeholder-slate-500 text-sm focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500", placeholder: t('applications.form.placeholder.email') %>
    </div>

    <div class="col-span-1">
      <%= form.label :cpf, t('applications.form.cpf'), class: "block text-sm text-slate-900 mb-2" %>
      <%= form.text_field :cpf, class: "w-full py-2.5 pl-4 text-sm rounded-lg border border-slate-300 px-4 py-2 text-slate-900 placeholder-slate-500 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500", placeholder: t('applications.form.placeholder.cpf') %>
    </div>

    <div class="col-span-1">
      <%= form.label :phone_number, t('applications.form.phone'), class: "block text-sm text-slate-900 mb-2" %>
      <%= form.telephone_field :phone_number, class: "w-full py-2.5 pl-4 text-sm rounded-lg border border-slate-300 px-4 py-2 text-slate-900 placeholder-slate-500 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500", placeholder: t('applications.form.placeholder.phone') %>
    </div>

    <div class="col-span-1">
      <%= form.label :resume, t('applications.form.resume'), class: "block text-sm text-slate-900 mb-2" %>
      <%= form.file_field :resume, accept: ".pdf", class: "block w-full py-2.5 pl-4 text-sm text-slate-500 border border-slate-300 rounded-lg cursor-pointer bg-white focus:outline-none file:hidden flex items-center" %>
    </div>

    <div class="mt-8 flex gap-6">
      <%= form.submit 'Candidatar-se',
          class: "rounded-lg w-full bg-blue-600 px-6 py-2 text-sm font-medium text-white hover:bg-blue-700 cursor-pointer",
          id: 'apply-button'
      %>
  </div>
<% end %>
