<%= turbo_frame_tag "candidates_list" do %>
  <% if @candidates.any? %>
    <div class="overflow-x-auto rounded-xl border border-slate-200 bg-white shadow-sm" data-candidates--candidates-target="table">
      <table class="w-full">
        <div class="px-6 py-4 border-b border-slate-200">
          <h2 class="text-lg font-semibold text-slate-900"><%= t('candidates.index_candidates_list.title') %></h2>
          <p class="text-sm text-slate-600 mt-1"><%= t('candidates.index_candidates_list.candidates_count', candidates: @candidates.count, total: @candidates.total_count) %></p>
        </div>
        <thead class="border-b border-slate-200">
          <tr>
            <th class="px-6 py-4 text-center text-sm font-semibold text-slate-900"><%= t('candidates.index_candidates_list.name') %></th>
            <th class="px-6 py-4 text-center text-sm font-semibold text-slate-900"><%= t('candidates.index_candidates_list.email') %></th>
            <th class="px-6 py-4 text-center text-sm font-semibold text-slate-900"><%= t('candidates.index_candidates_list.cpf') %></th>
            <th class="px-6 py-4 text-center text-sm font-semibold text-slate-900"><%= t('candidates.index_candidates_list.phone') %></th>
            <th class="px-6 py-4 text-center text-sm font-semibold text-slate-900"><%= t('candidates.index_candidates_list.status') %></th>
            <th class="px-6 py-4 text-center text-sm font-semibold text-slate-900"><%= t('candidates.index_candidates_list.resume') %></th>
            <th class="px-6 py-4 text-center text-sm font-semibold text-slate-900"><%= t('candidates.index_candidates_list.actions') %></th>
          </tr>
        </thead>
        <tbody>
          <% @candidates.each do |candidate| %>
            <tr class="text-center border-b border-slate-200 hover:bg-slate-50 transition-colors" data-candidates--candidates-target="candidateRow">
              <td class="px-6 py-4">
                <p class="max-w-[185px] truncate text-center text-sm text-slate-600"><%= candidate.name %></p>
              </td>
              <td class="px-6 py-4">
                <p class="max-w-[185px] truncate text-center text-sm text-slate-600"><%= candidate.email %></p>
              </td>
              <td class="px-6 py-4">
                <p class="max-w-[185px] truncate text-center text-sm text-slate-600"><%= formatted_cpf(candidate.cpf) %></p>
              </td>
              <td class="px-6 py-4">
                <p class="max-w-[185px] truncate text-center text-sm text-slate-600"><%= formatted_phone(candidate.phone_number) %></p>
              </td>
              <td class="max-w-[185px] px-6 py-4 text-center">
                <span class="inline-flex w-full items-center justify-center rounded-lg px-3 py-0.5 text-xs <%= status_colors[candidate.status] %>">
                  <%= candidate.status_humanize %>
                </span>
              </td>
              <td class="px-6 py-4"><%= resume_present?(candidate) %></td>
              <td class="px-6 py-4 text-right">
                <div class="flex gap-2 justify-center">
                  <%= link_to inline_svg_tag('icons/archive.svg', class: "lucide lucide-file-text h-4 w-4 text-blue-600"),
                        candidate_path(candidate),
                        class: "text-sm font-medium text-blue-600 hover:text-blue-700",
                        data: { turbo_frame: "_top" } %>

                  <%= link_to inline_svg_tag('icons/pencil.svg', class: "lucide lucide-pen h-4 w-4 text-blue-600"),
                        edit_candidate_path(candidate),
                        class: "text-sm font-medium text-blue-600 hover:text-blue-700",
                        data: { turbo_frame: "candidate_management", action: "click->candidates--candidates-form#forceOpen" } %>

                  <%= link_to inline_svg_tag('icons/trash_can.svg', class: "lucide lucide-trash2 h-4 w-4 text-red-600"),
                      candidate_path(candidate),
                      data: { turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir?", turbo_frame: '_top' },
                      class: "text-sm font-medium text-red-600 hover:text-red-700",
                      id: 'delete-candidate-button' %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @candidates, window: 1, outer_window: 1 %>
    </div>
  <% else %>
    <div class="rounded-xl border border-slate-200 bg-white px-6 py-4 shadow-sm">
      <h2 class="text-lg font-semibold text-slate-900"><%= t('candidates.index_candidates_list.title') %></h2>
      <p class="text-sm text-slate-600 mt-1"><%= t('candidates.index_candidates_list.candidates_count', candidates: @candidates.count, total: @candidates.total_count) %></p>

      <div class="p-12 text-center">
        <p class="text-slate-600"><%= t('candidates.index_candidates_list.none_candidate') %></p>
      </div>
    </div>
  <% end %>
<% end %>
