<div class="mt-8">
  <% if @applications.any? %>
    <div class="overflow-x-auto rounded-xl border border-slate-200 bg-white shadow-sm">
      <table class="w-full">
        <div class="px-6 py-4 border-b border-slate-200">
          <h2 class="text-lg font-semibold text-slate-900"><%= t('candidates.show_applications_list.title') %></h2>
          <p class="text-sm text-slate-600 mt-1"><%= t('candidates.show_applications_list.applications_count', applications: @applications.count, total: @applications.total_count) %></p>
        </div>
        <thead class="border-b border-slate-200">
          <tr>
            <th class="px-6 py-4 text-center text-sm font-semibold text-slate-900"><%= t('candidates.show_applications_list.recruitment') %></th>
            <th class="px-6 py-4 text-center text-sm font-semibold text-slate-900"><%= t('candidates.show_applications_list.role') %></th>
            <th class="px-6 py-4 text-center text-sm font-semibold text-slate-900"><%= t('candidates.show_applications_list.status') %></th>
            <th class="px-6 py-4 text-center text-sm font-semibold text-slate-900"><%= t('candidates.show_applications_list.actions') %></th>
          </tr>
        </thead>
        <tbody>
          <% @applications.each do |application| %>
            <tr class="text-center border-b border-slate-200 hover:bg-slate-50 transition-colors">
              <td class="px-6 py-4">
                <p class="text-center text-sm text-slate-900">
                  <%= link_to 'Acessar página',
                    recruitment_path(application.recruitment_role.recruitment.id),
                    target: '_blank',
                    rel: 'noopener',
                    class: "text-blue-600 hover:text-blue-700" %>
                </p>
              </td>
              <td class="px-6 py-4">
                <p class="text-center text-sm text-slate-600">
                  <%= application.recruitment_role.role.name %>
                </p>
              </td>
              <td class="max-w-[185px] truncate px-6 py-4 text-center">
                <span class="inline-flex w-[120px] items-center justify-center rounded-lg px-3 py-0.5 text-xs <%= status_colors[application.status] %>">
                  <%= application.status_humanize %>
                </span>
              </td>
              <td class="px-6 py-4 text-right">
                <div class="flex gap-2 items-center justify-center">
                  <%= button_to inline_svg_tag('icons/circle_check.svg', class: "lucide lucide-cicle-check h-4 w-4 text-green-600"),
                    approve_application_path(application),
                    title: t('candidates.show_applications_list.recruitment'),
                    class: "flex items-center cursor-pointer text-sm font-medium text-blue-600 hover:text-blue-700",
                    data: { turbo_frame: "_top" } unless application.approved? %>

                 <%= button_to inline_svg_tag('icons/circle_close.svg', class: "lucide lucide-circle-x h-4 w-4 text-red-600"),
                    reject_application_path(application),
                    title: t('candidates.show_applications_list.reject_candidate'),
                    class: "flex items-center cursor-pointer text-sm font-medium text-blue-600 hover:text-blue-700",
                    data: { turbo_frame: "_top" } unless application.rejected? %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @applications, window: 5, outer_window: 1 %>
    </div>
  <% else %>
    <div class="rounded-xl border border-slate-200 bg-white px-6 py-4 shadow-sm">
      <h2 class="text-lg font-semibold text-slate-900"><%= t('candidates.show_applications_list.title') %></h2>
      <p class="text-sm text-slate-600 mt-1"><%= t('candidates.show_applications_list.applications_count', applications: @applications.count, total: @applications.total_count) %></p>

      <div class="p-12 text-center">
        <p class="text-slate-600"><%= t('candidates.show_applications_list.none_application') %></p>
      </div>
    </div>
  <% end %>
</div>
