<main class="w-full mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
  <div class="mb-8 flex items-center justify-between">
    <div>
      <h1 class="text-4xl font-bold text-slate-900"><%= @candidate.name %></h1>
      <p class="mt-2 text-slate-600"><%= t('candidates.show.subtitle') %></p>
    </div>
    <div class="flex gap-2">
      <%= link_to t('candidates.show.buttons.back'), candidates_path, class: "rounded-lg bg-blue-600 px-4 py-2 text-sm font-medium text-white hover:bg-blue-700" %>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-6 lg:grid-cols-3">
    <div class="lg:col-span-2">
      <div class="rounded-lg border border-slate-200 bg-white p-6">
        <div class="flex flex-row justify-between items-start">
          <h2 class="text-lg font-semibold text-slate-900 mb-4"><%= t('candidates.show.details') %></h2>
          <span class="inline-flex w-[60px] items-center justify-center rounded-lg px-3 py-1 text-xs <%= status_colors[@candidate.status] %>">
            <%= @candidate.status_humanize %>
          </span>
        </div>
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          <div>
            <label class="text-sm font-medium text-slate-600"><%= t('candidates.show.labels.cpf') %></label>
            <p class="mt-2 text-slate-900"><%= formatted_cpf(@candidate.cpf) %></p>
          </div>
          <div>
            <label class="text-sm font-medium text-slate-600"><%= t('candidates.show.labels.email') %></label>
            <p class="mt-2 text-slate-900">
              <%= @candidate.email %>
            </p>
          </div>
          <div>
            <label class="text-sm font-medium text-slate-600"><%= t('candidates.show.labels.phone') %></label>
            <p class="mt-2 text-slate-900"><%= formatted_phone(@candidate.phone_number) %></p>
          </div>
          <div>
            <label class="text-sm font-medium text-slate-600"><%= t('candidates.show.labels.resume') %></label>
            <p class="w-[250px] break-all mt-2 text-slate-900"><%= resume_present?(@candidate) %></p>
          </div>
          <div>
            <label class="text-sm font-medium text-slate-600"><%= t('candidates.show.labels.created_at') %>:</label>
            <p class="mt-2 text-slate-900"><%= @candidate.created_at.strftime("%d/%m/%Y %H:%M") %></p>
          </div>
          <div>
            <label class="text-sm font-medium text-slate-600"><%= t('candidates.show.labels.updated_at') %>:</label>
            <p class="mt-2 text-slate-900"><%= @candidate.updated_at.strftime("%d/%m/%Y %H:%M") %></p>
          </div>
        </div>
      </div>
    </div>

    <%= render 'show_actions' %>
  </div>

  <%= render 'show_applications_list' %>
</main>
