<div>
  <%= form_with(model: company, data: data_form(page_load)) do |form| %>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="col-span-1">
        <%= form.label :name, class: "block text-sm text-slate-900 mb-2" %>
        <%= form.text_field :name, class: "w-full py-2.5 pl-4 text-sm rounded-lg border border-slate-300 px-4 py-2 text-slate-900 placeholder-slate-500 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500", placeholder: t('companies.form.placeholder.name') %>
      </div>

      <div class="col-span-1">
        <%= form.label :email, class: "block text-sm text-slate-900 mb-2" %>
        <%= form.email_field :email, class: "w-full py-2.5 pl-4 text-sm rounded-lg border border-slate-300 px-4 py-2 text-slate-900 placeholder-slate-500 text-sm focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500", placeholder: t('companies.form.placeholder.email') %>
      </div>

      <div class="col-span-1">
        <%= form.label :responsible_name, class: "block text-sm text-slate-900 mb-2" %>
        <%= form.text_field :responsible_name, class: "w-full py-2.5 pl-4 text-sm rounded-lg border border-slate-300 px-4 py-2 text-slate-900 placeholder-slate-500 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500", placeholder: t('companies.form.placeholder.name') %>
      </div>

      <div class="col-span-1">
        <%= form.label :cnpj, class: "block text-sm text-slate-900 mb-2" %>
        <%= form.text_field :cnpj, class: "w-full py-2.5 pl-4 text-sm rounded-lg border border-slate-300 px-4 py-2 text-slate-900 placeholder-slate-500 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500", placeholder: t('companies.form.placeholder.cnpj') %>
      </div>

      <div class="col-span-1">
        <%= form.label :phone_number, class: "block text-sm text-slate-900 mb-2" %>
        <%= form.telephone_field :phone_number, class: "w-full py-2.5 pl-4 text-sm rounded-lg border border-slate-300 px-4 py-2 text-slate-900 placeholder-slate-500 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500", placeholder: t('companies.form.placeholder.phone') %>
      </div>

      <div class="col-span-1">
        <%= form.label :status, class: "block text-sm text-slate-900 mb-2" %>
        <div class="relative">
          <%= form.select :status, Company::Status.to_a.map { |s| [s.first, s.last] }, {}, class: "appearance-none w-full py-2.5 pl-4 text-sm rounded-lg border border-slate-300 px-4 py-2 pr-10 text-slate-900 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500 bg-white" %>
          <div class="pointer-events-none absolute inset-y-0 right-3 flex items-center text-slate-500">
            <%= inline_svg_tag 'icons/dropdown-arrow.svg' %>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-8 flex gap-6">
      <%= form.submit company.new_record? ? "Criar Empresa" : "Atualizar Empresa", class: "rounded-lg w-full bg-blue-600 px-6 py-2 text-sm font-medium text-white hover:bg-blue-700 cursor-pointer" %>
      <%= link_cancel_form(page_load, company.try(:id)) %>
    </div>
  <% end %>
</div>
