<!-- Main Content -->
<main class="w-full mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8" data-controller="recruitments--recruitments">
  <!-- Welcome Section -->
  <div class="mb-8">
    <h2 class="text-3xl font-bold text-slate-900">Bem vindo de volta, <%= 'Philipe' %>!</h2>
    <p class="mt-2 text-slate-600">Gerencie seus processos seletivos e acompanhe as candidaturas</p>
  </div>

  <%= render "stats" %>

  <%= render "services" %>

  <%= render "form_search"%>

  <%= render "recruitments/recruitments_list", home: true %>
</main>
